<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>text</title>
</head>

<body>
    <!-- ================ Navigation Bar================= -->
    <nav class="navbar navbar-expand-lg bg-info text-dark  px-4">
<!-- Logo -->
        <a class="navbar-brand fw-bold" href="#">
            TaskMgt
        </a>
<!-- Mobile Toggle -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">

            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Content -->
        <div class="collapse navbar-collapse" id="navbarNav">

            <!-- Left Side Links -->
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        Home
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Tasks
                    </a>
                </li>

            </ul>

            <!-- Push profile to the right -->
            <div class="ms-auto">

                {% if user.is_authenticated %}

                <div class="dropdown">

                    <button class="btn p-0 border-0" type="button" data-bs-toggle="dropdown">

                        {% if user.UserProfile.profile_picture %}

                        <img src="{{ user.UserProfile.profile_picture.url }}" alt="Profile" width="45" height="45"
                            class="rounded-circle object-fit-cover">

                        {% else %}

                        <img src="/media/default.png" alt="Default Profile" width="45" height="45"
                            class="rounded-circle object-fit-cover">

                        {% endif %}

                    </button>

                    <!-- Dropdown Menu -->
                    <ul class="dropdown-menu dropdown-menu-end">

                        <li>
                            <a class="dropdown-item" href="{% url 'update_profile' %}">
                                My Profile
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="{% url 'update_profile' %}">
                                Edit Profile
                            </a>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item text-danger" href="{% url 'logout' %}">
                                Logout
                            </a>
                        </li>

                    </ul>

                </div>

                {% else %}

                <div class="d-flex gap-2">

                    <a href="{% url 'login' %}" class="btn btn-outline-light">
                        Login
                    </a>

                    <a href="{% url 'register' %}" class="btn btn-primary">
                        Register
                    </a>

                </div>

                {% endif %}

            </div>

        </div>

    </nav>

    <!-- <div class="d-flex justify-content-between align-items-center mb-4 bg-light
        border rounded-2 text-dark py-2 px-2">
            <h3>Team Task Mgt</h3>
</body>
</html>